.rootNavBar {
    margin-top: 20px;
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1000;
    background-color: white;
}