.event-search-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.search-card {
  font-family: "Instrument Sans", sans-serif;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.event-card {
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
